@font-face {
    font-family: 'nobileregular';
    src: url('../fonts/nobile-regular-webfont.woff2') format('woff2'),
         url('../fonts/nobile-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.hidden {
	display: none;
}

a
{
	text-decoration: none; 

}

h2, h3 {
	font-family: 'Playfair Display', Arial, serif;
}

p{
	line-height: 26px;
	font-family: 'nobileregular', Arial, Serif;

}
button{
	font-family: 'nobileregular', Arial, Serif;
	font-size: 20px;
	text-decoration: none;
}
#container
{
	width: 1280px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#gradient
{
	width: 1280px;
	height: 15px;
	background-image: linear-gradient(to left, #161d44, #34395c, #535774, #72768c, #9497a5);
}

#mainHeader
{
	display: flex;
	flex-direction: row;
	margin-top: 26px;
	width: 1280px;
	height: 152px;
}

#mainLogo
{
	display: block;
	width: 300px;
	height: 111px;
	
}
#mainNav
{
	display: flex;
	flex-direction: column;
}

#mainNav ul
{
	font-family: 'Playfair Display', Arial, serif;
	margin-top: 50px;
	display: flex;
}

#mainNav ul li a
{
	font-size: 20px;
	display: block;
	text-align: center;
	margin-left: 25px;
	width: 169px;
	height: 27px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #161d44;
	color: #fff;
	border-radius: 5px;
	transition: all.5s linear;
}

#mainNav ul li a:hover
{
	background-color: #4c5277;
	color: #fff;
	text-align: center;
}

#mainSection
{
	display: flex;
	flex-direction: row;
}

#mainImage
{
	width: 1100px;
	height: 460px;
}
#blueBox
{
	display: flex;
	flex-direction: column;
	width: 499px;
	height: 498px;
	opacity: 0.9;
	color: #161d44;
	margin-left: 5px;
}
#blueBox h2
{
	font-size: 40px;
	margin: 10px 5px 10px 5px;
}

#blueBox p
{
	font-size: 18px;
	margin: 10px 10px 0px 10px;
	line-height: 30px;
}

#buyButton
{
	display: block;
	width: 130px;
	height: 50px;
	border: 5px solid white;
	margin-left: 5px;
	margin-top: 20px;
	cursor: pointer;
	border-color: #161d44;
	border-radius: 5px;
	background-color: #fff;
}

#typoLogo
{
	display: block;
	width: 300px;
	height: 100px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 37px;
}

#promoCon
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 957px;
	height: 948px;
	margin: 0 auto;
}

#promoCon h2
{
	font-size: 40px;
	font-family: 'nobileregular', Arial, Serif;
	color: black;
}

.titleSection1
{
	position: relative;
	margin-top: 40px;
	width: 453px;
	height: 
}
/*.Titles{
	margin-top: 160px;
	margin-right: auto;
	z-index: 1;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	color: #fff;

}
*/
.titleSection2
{
	position: relative;
	margin-top: 40px;
	width: 453px;



}


.titleSectionH
{
	font-family: 'nobileregular', Arial, Serif;
	font-size: 28px;
	text-align: center;
}



.titleBox
{
	position: absolute;
	margin: 0 auto;
	text-align: center;

}

.moreButton
{
	position: absolute;
	width: 80px;
	height: 38px;
	top: 50%;
	bottom: 50%;
	margin-left: 184px;
	border: 5px solid white;
	cursor: pointer;
	border-color: #fff;
	border-radius: 5px;
	color: #fff;
	background-color: #fff;
	background-color: rgba(255,255,255,0.1);
}

#footerCon
{
	width: 1280px;
	height: 112px;
	display: flex;
	flex-direction: row;
	background-color: #161d44;
	opacity: 0.9;
	margin-top: 49px;
}

#footerCon p
{
	font-size: 14px;
	margin-left: 14px;
	margin-top: 29px;
	color: #fff;
}

#subNavLogo
{
	width: 104px;
	height: 50px;
	margin-left: 38px;
	margin-top: 33px;
}

#socialMediaCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 680px;
	width: 151.62px;
	height: 32.93px;
}

.icon
{
	margin-top: 37px;
	width: 32.93px;
	height: 32.93px;
}

/*contact page */

h3{
	font-size: 25px;
	margin-bottom: 20px;
	color: #161d44;
}

p{
	font-family:'nobileregular', Arial, Serif;
}

.contactTitle
{
	font-size: 30px;
	text-align: center;
}


#contactCon
{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: space-between;
	width:1075px;
	height: 698px;
}

#messageCon
{
	width: 477px;
	margin-top: 30px;
	height: 591px;
	line-height: 20px;
	margin-right: 20px;

}

#form
{
	width: 485px;
	height: 366px;
	margin-top: 5px;
}

#messageBox
{
	height: 168px;
	width: 390px;
}

#submitButton
{
	background-color: #161D44;
	color: #fff;
	width: 109px;
	height: 31px;
	margin-left: 360px;
	padding: 5px;
	margin-top: 20px;
	border-radius: 5px;
}

input[type=text] {
	width: 343px;
	height: 31px;
	margin-top: 10px;
	border: 2px solid white;
	cursor: pointer;
	border-color: #161D44;
	border-radius: 5px;
	color: #fff;
	background-color: #fff;
	background-color: rgba(255,255,255,0.1);
}


#infoCon
{
	width: 477px;
	height: 593px;
	margin-top: 30px;
}

#contactSocial
{
	display: flex;
	flex-direction: row;
	width: 477px;
	height: 593px;

}

.icon-contact
{
	width: 34px;
	height: 34px;
	margin-left: 7px;
	margin-top: 20px;
}

/* advert page */

#advertsCon
{
	margin-right: auto;
	align-items: center;
	text-align: center;

}
.advertsTitle{
	font-size: 30px;
	text-align: center;
	margin-bottom: 46px;
}
#advertsDes
{
	display: inline-block;
	text-align: left;
	width: 450px;
	margin-left: 80px;
	vertical-align: top; 
	margin-top: 20px;

}
/* about us page */

#brandDesc
{
	display: flex;
	margin-top: 10px;
}
.aboutusTitle
{
	font-size: 30px;
	text-align: center;
	margin-bottom: 46px;
}

.aboutUs_logo
{
	width: 362px;
	height: 409px;
	display: inline-block;
	margin-left: 90px;
}

.desc
{
	width: 627px;
	margin-left: 150px;
}

/*products page*/

.productsTitle {
	font-size: 30px;
	text-align: center;
	margin-bottom: 46px;
}


#newdesc
{
	display: inline-block;
	flex-direction: column;
	width: 390px;
	margin-bottom: 20px;
}

#newdesc h2
{
	font-family: 'Playfair Display', Arial, serif;
	font-size: 33px;
}

#products
{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

#productsIntro1
{
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	margin-left: 80px;
	flex-direction: row;
	width: 532px;
}
#productsIntro1 h2
{
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Playfair Display', Arial, serif;
	font-size: 30px;
}
#productsIntro1 img
{
	display: block;
	margin-left: 120px;
}

#products
{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
#productsIntro2
{
	align-items: center;
	margin: 0 auto;
	margin-top: 40px;
	margin-left: 40px;
	width: 532px;
}

#productsIntro2 h2
{
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Playfair Display', Arial, serif;
	font-size: 30px;
}
#productsIntro2 img
{
	display: block;
	margin-left: 120px;
}

























